version: "3.8"
name: aims

services:
  enrollment_db:
    image: postgres:latest
    container_name: enrollment_db
    environment:
      - POSTGRES_DB=enrollments
      - POSTGRES_USER=aims
      - POSTGRES_PASSWORD=aims
    ports:
      - "5432:5432"
    volumes:
      - enrollment:/var/lib/postgresql/data
    networks:
      - enrollment

  enrollment_ms:
    build: .
    image: aims_enrollment_ms
    container_name: enrollment_ms
    depends_on:
      - enrollment_db
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://enrollment_db:5432/enrollments
      - SPRING_DATASOURCE_USERNAME=aims
      - SPRING_DATASOURCE_PASSWORD=aims
    ports:
      - "8080:8080"
    networks:
      - enrollment

volumes:
  enrollment:

networks:
  enrollment:
    driver: bridge